<%=link_to "new checkin task", new_checkin_path%>
<%=link_to "view brand data", show_brand_data_path%>
<%=link_to "view checkin data", show_checkin_data_path%>

<p> Download:
  <p><strong>Brand Data</strong></p>
  <%= link_to "CSV", brand_data_path(format: "csv") %>
  <%= link_to "Excel", brand_data_path(format: "xls") %>
  <p><strong>Checkin Data:</strong></p>
  <%= link_to "CSV", checkin_data_path(format: "csv") %>
  <%= link_to "Excel", checkin_data_path(format: "xls") %>
</p>

<table>
  <tr>
    <td>Name</td>
    <td>Latest Checkin Time</td>
    <td>Latest Likes</td>
    <td>Latest Talks</td>
    <td>Sentiment Score</td>
    <td>YouTube Teaser</td>

  </tr>

</table>

<!-- https://www.googleapis.com/youtube/v3/videos?id=7lCDEYXw3mM&key=AIzaSyCiQ99gDg-fA7T3MAaVgtpJ187PmXI0xbc&part=snippet,statistics

otter- api key:
09C43A9B270A470B8EB8F2946A9369F3
 -->
