<%=link_to "new checkin task", new_checkin_path%>
<%=link_to "view brand data", show_brand_data_path%>
<%=link_to "view checkin data", show_checkin_data_path%>
<br>

<div class='downloads'>
  <h2>Download:</h2>
  <p><strong>Brand Data</strong></p>
  <%= link_to "CSV", brand_data_path(format: "csv") %>
  <%= link_to "Excel", brand_data_path(format: "xls") %>
  <p><strong>Checkin Data:</strong></p>
  <%= link_to "CSV", checkin_data_path(format: "csv") %>
  <%= link_to "Excel", checkin_data_path(format: "xls") %>
</div>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Latest Checkin Time</td>
      <td>Latest Likes</td>
      <td>Latest Talks</td>
      <td>Sentiment Score</td>
      <td>YouTube Teaser</td>
      <td>YouTube Teaser Up</td>
      <td>YouTube Teaser Down</td>
    </tr>
  </thead>
  <tbody id="mostrecent">
  <h2 class='helpertext'>Most Recent on top, Next in line below</h2>

    <% @brands.each do |brand|%>
    <tr>
      <td><%=brand.name%></td>
      <td><%=brand.checkins.last.checkin_time%></td>
      <td><%=brand.checkins.last.likes%></td>
      <td><%=brand.checkins.last.talking%></td>
      <td><%=brand.checkins.last.sentiment_score%></td>
      <td><%=brand.checkins.last.youtube_teaser%></td>
      <td><%=brand.checkins.last.youtube_teaser_up%></td>
      <td><%=brand.checkins.last.youtube_teaser_down%></td>
    </tr>
    <%end%>
  </tbody>
  <tbody id="secondlastrecent">
    <% @brands.each do |brand|%>
    <tr>
      <td><%=brand.name%></td>
      <td><%=brand.checkins[-2].checkin_time%></td>
      <td><%=brand.checkins[-2].likes%></td>
      <td><%=brand.checkins[-2].talking%></td>
      <td><%=brand.checkins[-2].sentiment_score%></td>
      <td><%=brand.checkins[-2].youtube_teaser%></td>
      <td><%=brand.checkins[-2].youtube_teaser_up%></td>
      <td><%=brand.checkins[-2].youtube_teaser_down%></td>

    </tr>
    <%end%>
  </tbody>

</table>


