<%=link_to "new checkin task", new_checkin_path%>

<table>
  <tr>
    <td>Name</td>
    <td>Latest Checkin Time</td>
    <td>Latest Likes</td>
    <td>Latest Talks</td>
    <td>Sentiment Score</td>
    <td>YouTube Teaser</td>

  </tr>
  <% @brands.each do |brand|%>
  <tr>
    <td><%=brand.name%></td>

    <td><%=brand.checkins.last.created_at%></td>
    <td><%=brand.checkins.last.likes%></td>
    <td><%=brand.checkins.last.talking%></td>
    <td><%=brand.checkins.last.sentiment_score%></td>
    <td><%=brand.checkins.last.youtube_teaser%></td>
  </tr>
  <%end%>

</table>
