<div class="mainLinks">
  <%=link_to "Manually Run Checkin Update", new_checkin_path, {class: "buttonTo"}%>
  <%=link_to "Brand Information", show_brand_data_path, {class: "buttonTo"}%>
  <%=link_to "Checkin History", show_checkin_data_path, {class: "buttonTo"} %>
</div>
<br>

<div class='downloads'>
  <h2>Download:</h2>
  <p><strong>Brand Data</strong></p>
  <%= link_to "CSV", brand_data_path(format: "csv") %>
  <%= link_to "Excel", brand_data_path(format: "xls") %>
  <p><strong>Checkin Data:</strong></p>
  <%= link_to "CSV", checkin_data_path(format: "csv") %>
  <%= link_to "Excel", checkin_data_path(format: "xls") %>
</div>
<div id="tableInformation">
<h1>Two Most Recent Collections:</h1>
<table class="table" id="homeDisplay">
  <thead>
    <tr>
      <td>Name</td>
      <td>Latest Checkin Time</td>
      <td>Latest Likes</td>
      <td>Latest Talks</td>
      <td>Sentiment Score</td>
      <td>YouTube Teaser</td>
      <td>YouTube Teaser Up</td>
      <td>YouTube Teaser Down</td>
      <td>YouTube Commercial</td>
      <td>YouTube Commercial Up</td>
      <td>YouTube Commercial Down</td>

    </tr>
  </thead>
  <tbody id="mostrecent">

    <% @brands.each do |brand|%>
    <tr>
      <td><%=brand.name%></td>
      <%if brand.checkins.last %>
        <td><%=brand.checkins.last.checkin_time%></td>
        <td><%=brand.checkins.last.likes%></td>
        <td><%=brand.checkins.last.talking%></td>
        <td><%=brand.checkins.last.sentiment_score%></td>
        <td><%=brand.checkins.last.youtube_teaser%></td>
        <td><%=brand.checkins.last.youtube_teaser_up%></td>
        <td><%=brand.checkins.last.youtube_teaser_down%></td>
        <td><%=brand.checkins.last.youtube_commercial%></td>
        <td><%=brand.checkins.last.youtube_commercial_up%></td>
        <td><%=brand.checkins.last.youtube_commercial_down%></td>
      <%end%>
    </tr>
    <%end%>
  </tbody>
  <tbody id="secondlastrecent">
    <% @brands.each do |brand|%>
    <tr>
      <td><%=brand.name%></td>
         <%if brand.checkins[-2] %>
      <td><%=brand.checkins[-2].checkin_time%></td>
      <td><%=brand.checkins[-2].likes%></td>
      <td><%=brand.checkins[-2].talking%></td>
      <td><%=brand.checkins[-2].sentiment_score%></td>
      <td><%=brand.checkins[-2].youtube_teaser%></td>
      <td><%=brand.checkins[-2].youtube_teaser_up%></td>
      <td><%=brand.checkins[-2].youtube_teaser_down%></td>
      <td><%=brand.checkins[-2].youtube_commercial%></td>
      <td><%=brand.checkins[-2].youtube_commercial_up%></td>
      <td><%=brand.checkins[-2].youtube_commercial_down%></td>

    </tr>
    <%end%>
    <%end%>
  </tbody>

</table>
</div>

