<%=link_to "new checkin task", new_checkin_path%>

<table>
  <tr>
    <td>Name</td>
    <td>Website</td>
    <td>Latest Checkin Time</td>
    <td>Latest Likes</td>
    <td>Latest Talks</td>
  </tr>
  <% @brands.each do |brand|%>
  <tr>
    <td><%=brand.name%></td>
    <td><%=brand.link%></td>
    <td><%=brand.checkins.last.created_at%></td>
    <td><%=brand.checkins.last.likes%></td>
    <td><%=brand.checkins.last.talking%></td>

  </tr>
  <%end%>

</table>
